In [63]:
library("rmarkdown")
library("tidyverse")
library("dplyr")

In [64]:
setwd('/home/ssark38/econ470/a0/work/hwk1')

In [65]:
plan_data <- read_csv("data/plan_data.csv")

Rows: 2475118 Columns: 23
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (13): contractid, state, county, org_type, plan_type, partd, snp, eghp, ...
dbl (10): planid, fips, year, n_nonmiss, avg_enrollment, sd_enrollment, min_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [66]:
table1 <- plan_data %>%
    distinct(contractid, planid, plan_type) %>%
    count(plan_type, name = "n_plans")

table1

   plan_type                               n_plans
1  1876 Cost                                101
2  Employer/Union Only Direct Contract PDP    3
3  HCPP - 1833 Cost                           9
4  HMO/HMOPOS                              2678
5  Local PPO                                966
6  MSA                                        5
7  Medicare Prescription Drug Plan         1011
8  Medicare-Medicaid Plan HMO/HMOPOS         54
9  National PACE                            258
10 PFFS                                      50
11 Regional PPO                             109

In [67]:
filtered_plans <- plan_data %>%
    filter(
        snp == "No",
        eghp == "No",
        !str_detect(planid, "^8")
    )

In [68]:
updated_table1 <- filtered_plans %>%
    distinct(contractid, planid, plan_type) %>%
    count(plan_type, name = "n_plans")

updated_table1

  plan_type                         n_plans
1 1876 Cost                           89
2 HMO/HMOPOS                        1498
3 Local PPO                          529
4 MSA                                  3
5 Medicare Prescription Drug Plan    771
6 Medicare-Medicaid Plan HMO/HMOPOS   54
7 National PACE                      258
8 PFFS                                41
9 Regional PPO                        48

In [69]:
merged_data <- read_csv("data/merged_data.csv")

Rows: 1364770 Columns: 27
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (14): contractid, state, county, org_type, plan_type, partd, snp, eghp.x...
dbl (11): planid, fips, year, n_nonmiss, avg_enrollment, sd_enrollment, min_...
lgl  (2): partial, eghp.y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [70]:
filtered_plans_2 <- merged_data %>%
    filter(
        snp == "No",
        eghp.x == "No",
        !str_detect(planid, "^8")
    )

In [62]:
table2 <- filtered_plans_2 %>%
  group_by(plan_type) %>%
  summarise(avg_enrollment = mean(avg_enrollment, na.rm = TRUE),
           .groups="drop") %>%
  arrange(desc(avg_enrollment))

table2

  plan_type                         avg_enrollment
1 Medicare-Medicaid Plan HMO/HMOPOS 989.16876
2 HMO/HMOPOS                        762.29813
3 Local PPO                         332.34328
4 1876 Cost                         258.61757
5 Regional PPO                      179.17024
6 National PACE                     144.32795
7 PFFS                               96.25695
8 MSA                                58.13192